[submodule "src/uaa"]
	path = src/uaa
	url = https://github.com/18F/cg-uaa.git
    branch = master
[submodule "src/collector"]
	path = src/collector
	url = https://github.com/18F/collector.git
    branch = add-newrelic
